<!DOCTYPE html>
<html>
<head>
<!-- 
  <title>맛있나역 BEST TOP10 맛집 </title> -->
  {% include "common/head.html"%}

</head>
<body>
<!-- 대문 메인 텍스트 -->
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">맛있나역 통합 BEST TOP10 맛집 리스트</h1>
        <hr/> <h5>다음 순위는 인스타그램 언급도를 반영하여 통합된 순위입니다.</h5><hr/>
      </div>
    </div>
  </header>
<!-- 역 이름 적용란 -->
<br/>
<br/>
<div data-packed="false" class="txtNew" id="WRchTxtu-lnl"<h2 class="font_2"><span style="font-weight:medium; font-family: 'Sunflower', sans-serif;">{{subway}}으로 검색한 결과입니다.</span></h2>
</div>
<br/>
<br/>
  <section>
    <div class="container">
            <div class="panel-body">
                <div class="table-responsive">
                    <hr/> 
                    <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>순위</th>
                                <th>사진링크</th>
                                <th>가게이름</th>
                                <th><img src="https://img.freepik.com/free-vector/instagram-icon_1057-2227.jpg?size=338&ext=jpg" width="60px"><p>인스타그램</p></th>
                                <th><img src="https://lh3.googleusercontent.com/OJzhHQMc08Y1yUfjdL1F1Ohv2hjqgaPwyoMMbgg12qgh0C8dZf5pNOmiLDlwJidARCi_=w300" width="60px"><p>망고플레이트</p></th>
                                <th>불호</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for market in marketInfo: %}
                                <tr>
                                    <td>1등</td>
                                    <td>{{market.img}}</td>
                                    <td>{{market.name}}</td>
                                    <td>{{market.insta}}</td>
                                    <td>{{market.mango}}</td>
                                    <td>{{market.taste}}</td>
                                </tr>
                                {% endfor %}
                             </tbody>
                    </table> <hr/> 
                </div>
            </div>
      </div>
    </div>
  </section>
  {% include "common/foot.html"%}
</body>
</html>