<ul class="list-restaurants type-single-big top_list_restaurant_list">
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/yBoMLJd5Vi" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="프라리네 사진 - 대구시 남구 대명동 1799-5" data-original="https://mp-seoul-image-production-s3.mangoplate.com/17258/tinqy51dlfvlw_.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="https://mp-seoul-image-production-s3.mangoplate.com/17258/tinqy51dlfvlw_.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" style="display: block;">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('17258', 'yBoMLJd5Vi')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/yBoMLJd5Vi" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">1.<h3> 프라리네</h3></a></span>
            </div>
          </figcaption>
        </figure>

      </div>
    </li>    
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/yZmAERYxGQ" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="르배인알래스카 사진 - 대구시 수성구 만촌동 1356-19" data-original="https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/8184_1471164277221366.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/8184_1471164277221366.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" style="display: block;">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('16531', 'yZmAERYxGQ')">공유하기</button>-->

              <span class="title"> <a href="/restaurants/yZmAERYxGQ" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">2.<h3> 르배인알래스카</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/bSAUG67E-cHE" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="대구근대골목단팥빵 사진 - 대구시 동구 신암동 294" data-original="https://mp-seoul-image-production-s3.mangoplate.com/550856_1519665554166557.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="https://mp-seoul-image-production-s3.mangoplate.com/550856_1519665554166557.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" style="display: block;">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('323114', 'bSAUG67E-cHE')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/bSAUG67E-cHE" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">3.<h3> 대구근대골목단팥빵</h3></a></span>
            </div>
          </figcaption>
        </figure>

      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/gAL9BJLk7b" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="최가네케익 사진 - 대구시 중구 동성로2가 93-8" data-original="https://mp-seoul-image-production-s3.mangoplate.com/15741/49894_1450762972154_70782?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="https://mp-seoul-image-production-s3.mangoplate.com/15741/49894_1450762972154_70782?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" style="display: block;">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('15741', 'gAL9BJLk7b')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/gAL9BJLk7b" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">4.<h3> 최가네케익</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/x4BXVK84N88O" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="레헴 사진 - 대구시 달성군 다사읍 매곡리 1526" data-original="https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/613857_1485136689435626.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('264064', 'x4BXVK84N88O')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/x4BXVK84N88O" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">5.<h3> 레헴</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/7nImrGZU60" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="빠다롤뺑프랑스 사진 - 대구시 중구 봉산동 35-96" data-original="https://mp-seoul-image-production-s3.mangoplate.com/753090_1500906093689805.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('222934', '7nImrGZU60')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/7nImrGZU60" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">6.<h3> 빠다롤뺑프랑스</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/hqLrbITkM6SV" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="레이지모닝 사진 - 대구시 중구 동인동2가 56-9" data-original="https://mp-seoul-image-production-s3.mangoplate.com/supporters_admin/1idowiquij-wpu.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('267385', 'hqLrbITkM6SV')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/hqLrbITkM6SV" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">7.<h3> 레이지모닝</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/BiXyFFcayr" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="삼송빵집 사진 - 대구시 중구 동성로3가 7-4" data-original="https://mp-seoul-image-production-s3.mangoplate.com/832403_1518104303139062.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
          </div>
          </a>
          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('16235', 'BiXyFFcayr')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/BiXyFFcayr" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">8.<h3> 삼송빵집</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/155YFFV4PN7O" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="OHB행복빵 사진 - 대구시 중구 봉산동 144-2" data-original="https://mp-seoul-image-production-s3.mangoplate.com/352786/997364_1530113175895_13087?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
          </div>
          </a>

          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('352786', '155YFFV4PN7O')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/155YFFV4PN7O" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">9.<h3> OHB행복빵</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
    <li class="toplist_list">
      <div class="with-review">
        <figure class="restaurant-item">
          <a href="/restaurants/Wz4wEzLfaJjM" onclick="common_ga('PG_TOPLIST', 'CLICK_PICTURE_BIG')">
          <div class="thumb">
            <img class="center-croping lazy" alt="그리다빵 사진 - 대구시 북구 산격동 1309-42" data-original="https://mp-seoul-image-production-s3.mangoplate.com/40495_1527669271371339.jpg?fit=around|738:738&amp;crop=738:738;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
          </div>
          </a>
          <figcaption>
            <div class="info">
              <!--<button class="btn-type-icon share-big" ng-click="open_share_layer('323126', 'Wz4wEzLfaJjM')">공유하기</button>-->
              <span class="title"> <a href="/restaurants/Wz4wEzLfaJjM" onclick="common_ga('PG_TOPLIST', 'CLICK_RESTAURANT_NAME')">10.<h3> 그리다빵</h3></a></span>
            </div>
          </figcaption>
        </figure>
      </div>
    </li>
</ul>