<!DOCTYPE html>
<html>
<head>
  <!-- <title>맛있나역 BEST TOP10 맛집 </title> -->

  <link rel ="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  {% include "common/head.html"%}
</head>
<body>
    <!-- 대문 메인 텍스트 -->
    <div style="margin-top: 5%; margin-bottom:3%; border-bottom: solid rgb(253, 253, 253);text-align:center; background-color:rgb(247, 247, 247)">
        <p style="text-align:center; color:gray" ><br>2018-08-03</p>
    <h1  >{{subway}}역 추천 맛집 리스트</h1>
    <h5 style= "text-align:center; margin-top:1%; margin-bottom:3%;color:gray">SNS 언급도가 반영된 순위</h5>
    </div>
    

    <div class="container">
      <div class="row">
          <div class="col"></div>

          <div class="col-8">

                <table class="table" style= " margin-top:5%">
                    <!-- <thead>
                    <il>
                        <th>순위</th>
                        <th>사진링크</th>
                        <th>가게이름</th>
                        <th>사진링크</th>
                        <th>가게이름</th>
                        <th>불호</th>
                    </il>
                    </thead> -->
                    <tbody>
                    <form action='/third' method='GET' name="form2" id="frm"> 
                       <div style="font-size: 200%; color:green">
                          <img style="margin-bottom: 2%; " width="7%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTavkA9EZNBpw2Uy29ILxncRkZ5oRdPaNO2p_isD8HpjgP0K2r">10점 만점으로 선정된 맛있나역 자체 점수! </div>                 
                        {% for market in marketInfoList: %}

                            {% for marketInfo in market: %}
                            <tr>
                              <td>
                                <div class="container">

                                  <div class="row">

                                    <div class="col">    
                                      <!-- <td>{{marketInfo.img}}</td> -->
                                      <img src={{marketInfo.img}}
                                                style="width:100%; height:80%" onclick= "location.href='/third/{{marketInfo.num}}'">
                                    </div>

                                    <div class="col-7">  
                                      <div onclick= "location.href='/third/{{marketInfo.num}}'" class="h3">{{marketInfo.name}}</div>
                                      <div style="color:gray">{{marketInfo.address}}</div>
                                      
                                        <div>
                                            <div style="font-size: 200%; color:green">
                                                <img style="margin-bottom: 2%; " width="7%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTavkA9EZNBpw2Uy29ILxncRkZ5oRdPaNO2p_isD8HpjgP0K2r">
                                                {{marketInfo.rank}}
  
                                            </div>     

                                            <div style="font-size: 150%; color:black">
                                              <img style="margin-bottom: 2%; " width="5%" src="https://media.rocketpunch.com/cache/e1/91/e19168d47fb99a25d865350b9517906d.png">
                                              {{marketInfo.rate}}

                                            </div>
                                                <!-- <td>{{marketInfo.insta}}</td>
                                                <td>{{marketInfo.mango}}</td> -->
                                            <div style="font-size: 150%; color:black">
                                                <img style="margin-bottom: 2%" width="5%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png">
                                              {{marketInfo.insta}}

                                            </div>  
                                            <div style=" position:absolute; right:0px; top:20%;">
                                              <button class="btn btn-outline-success">{{marketInfo.taste}}</button>   
                                            </div>

                                            <div style="font-size: 100%; position:absolute; right:0px; bottom:10%; color:gray" onclick= "location.href='/third/{{marketInfo.num}}'">{{marketInfo.name}} 
                                              <div style="color:green; text-align: right">더보기 ></div>

                                            </div>
                                        </div>

                                  </div>
                                </div>
                              </td>
                            </tr>
                            {% endfor %}

                        {% endfor %}
                  </form>
                  </tbody>
                
                
                </table>
          </div>

          <div class="col"></div>
      </div>
    </div>
    {% include "common/foot.html"%} 
    </body>
</html>
