<!doctype_html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>가게상세정보</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body> 
    <div class="row" style= "margin-top: 30px;">
        <div id='concon' class="col-7" >
            <div class="column-wrapper" >
                <!-- 데스크탑 컨텐츠 영역 -->
                <div class="content"  >
        
                    <!-- 레스토랑 상세 -->
                    <section class="r estaurant-detail" style="margin-left: 30px"; "margin-top: 30px;">
                    <header>
                        <div>                           
                            <span class="title">
                                <h1 class="restaurant_name">{{이름}}</h1>
            
                                <strong class="rate-point ">
                                    <span>
                                    4.8
                                    </span>
                                </strong>

                            </span>
                        </div>
        
                    </header>

                    <hr class='name'>
                    <!-- 상세 정보 -->
                    <table class="info_menu" >
                        <tbody>
                            <tr class="only-desktop">
                                <th>주소</th>
                                <td>{{서울시 종로구 내수동 74}}</td>
                            </tr>
        
                            <tr class="only-desktop">
                                <th>전화번호</th>
                                <td>{{02-739-5520}}</td>
                            </tr>
        
                        <tr>
                            <th>음식 종류</th>
                            <td>
                            <span>{{베이커리}}</span>
                            </td>
                        </tr>
        
                            <tr>
                            <th>가격대</th>
                            <td>{{만원 미만}}</td>
                            </tr>
        
                        </tbody>
                    </table>
                    <br>
                    <hr class='name'>
                    </section>
                    
                    <!--워드클라우드 영역-->
                    <section class="module review-container" style="margin-left: 30px"; "margin-top: 30px;">
                        <h4 class="title" style="font-weight:bold;">폴앤폴리나의 리뷰</h4>
                        <div>
                            워드클라우드가 들어갈 자리
                        </div>
                    </section>
                </div>
            </div>
        </div>    
        
      <!-- 데스크탑 사이드 영역 -->
        <div class="col-5">
            <div class="side-wrap">
            
                <div class="list-photo_wrap">
                    <img class="storephoto" src="https://mp-seoul-image-production-s3.mangoplate.com/216478/29726_1488252063736_37883?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80" 
                </div>

                </div>
            </div>
        </div>
    </div>

    div {
        margin-top : 10px;
        margin-left : 30px;
    }
</body>
</html>