<!DOCTYPE html>
<html lang="ko">
<head>
    {# inclide '삽입 할 페이지' or ['삽입 할 페이지','','',...]
     페이지가 없어도 오류를 발생시키지 않으려면, ignore missing 표시 #}
    {% include ['common/head.html','b.html','c.html'] ignore missing %} {#백업으로 플랜 b,c를 만들어 놓는다 ignore missing 틀린것을 무시하라#}
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        {% include "common/navi.html" %}
        <!-- /#page-wrapper -->
        {% include "sub/eplList_sub.html" %}
    </div>
    <!-- /#wrapper -->
    {% include "common/foot.html" %} {#foot에 제이쿼리 정의되어있기 때문에 foot보다 뒤에 script를 넣음#}
    <script>
        // input 태그를 찾아서 엔터 이벤트를 붙인다 -> search() 호출
        // 자바스크립트에서 특정 요소에게 이벤트를 붙이는 방법 .on('이벤트명'); 정의/등록
        $('#ks').on('keypress',(evt)=>{
            console.log( evt.keyCode );
            // 엔터치면 search() 호출
            if(evt.keyCode ===13 ){
                search();
            }
        });
        //document.querySelector('#ks').value='hi';
        //document.querySelector('#searchkeyword').value='hi';
        function search(){
            console.log('hi');
            
            // 입력 내용을 획득
            console.log( $('#ks').val() );
            var inputValue = $('#ks').val()//값을 뽑아라
            console.log(inputValue);
            // b 태그 내부에 덮어쓴다(지우고 추가한다)
            $('b').empty();                  // b 태그의 자식으로 지운다
            $('b').append(inputValue);       // b 태그의 자식으로 추가한다
            //$('#searchkeyword').val('');      // 입력창 비우기
            searchNet();
        } 
        function searchNet(){
            // POST 통신 -> ajax 기술 이용 -> 현재 화면은 그대로 존재 -> 뒤에서 통신
            // data:'keyword= 검색어' ex) 'keyword= 검색어&name=xxx&age=10...'
            // 통신이 성공하면 json객체를 생성하고 이 결과를 success에 연결됨 함수를
            // 호출하면서 인자로 전달함 (resData)
            $.post({
                url:'/search',
                data:'keywordkey='+ $('#ks').val(),// or + inputValue
                dataType:'json',// 파싱 타입 제이슨이 수행되면 /search 가 작동한다.
                success: function(resData){
                    // 검색 결과를 화면에 표시하기 위해 함수 호출
                    showSearchResult( resData );

                    // console.log( '성공', resData );
                    // $('#searchkeyword').val(''); // 입력창 비우기
                    // 임시 검색 결과 표현
                    // $('b').append("<span style='color:red;'>->" + resData.name+ "</span>");
                },
                error:function(err){
                    console.log( '실패', err);
                }
            });

        }
        // jQuery로 표현하면
        function showSearchResult( data ) 
        {
            // data가 들어오면 데이터를 획득하여 html화면에 동적으로 표현하겠다.(결과를 화면에 보여라)
            // $.each( 배열, 콜백함수 );는 배열(리스트) 데이터를 반복적으로 처리할 때 사용
            $('#resultShowBase').empty();
            $.each(data, (idx, item)=>{
                //console.log(idx, item) //idx:인덱스 item:딕셔너리,한덩어리
                console.log(item.rank, item.name);
                var html = `<tr>
                         <td>${item.rank}</td>
                         <td>${item.name}</td>
                      </tr>`; //``여러 줄을 포메팅 할 때 씀 포메팅 할 아이는 ${}안에 집어넣음( 자바스크립트의 포멧팅 )
                $('#resultShowBase').append(html)
                // var html = `<div> 순위 ${item.rank} : ${item.name} </div>`;
                // $('#resultShowBase').append( html );
                // 방금 추가 된 div
                $('#resultShowBase>div:last').on('click',()=>{
                    //alert(item.name);
                    // ~/info/ 맨체스터.. 라는 주소로 이동, 동적 파라미터,
                    document.location.href='/info/'+item.name
                });
            
            });// jquery가 지원하는 함수임
            // 데코레이션 css 적용
            // 의사 결정 셀렉터 => 대상군: odd or ever eq(), lt(), gt(), first, last
            $('#resultShowBase>div:odd').css('background-color','lightgreen');
            // 막내만 그레이로 배경색
            $('#resultShowBase>div:last').css('background-color','gray');
            

        }
    </script>
</body>
</html>
